@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Oswald:300,400");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  line-height: 1.6; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

label,
input,
textarea {
  display: block; }

ul {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none; }

.HeaderMain {
  background-color: #514077; }
  .HeaderMain-logo {
    /*width: 50%;*/
    width: 150px; }
  .HeaderMain-raiz {
    display: inline-block; }

.l-container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.icon-menu {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  z-index: 1000; }

.HeaderMain-nav {
  background-color: #FFAD01;
  position: fixed;
  top: 0;
  right: -15rem;
  width: 15rem;
  min-height: 100vh;
  padding: 1rem;
  z-index: 200;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .HeaderMain-nav.mostrar {
    right: 0; }

.HeaderMain-item {
  border-bottom: thin solid rgba(17, 17, 17, 0.2); }

.HeaderMain-link {
  display: block;
  line-height: 2.7;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Oswald", sans-serif; }

body {
  position: relative;
  right: 0;
  -webkit-transition: all .3s;
  transition: all .3s; }
  body.mostrar {
    right: 15rem; }

.Banner {
  position: relative; }
  .Banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: .5; }
  .Banner-img {
    display: block;
    width: 100%; }
  .Banner-copy {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    color: #fff; }
  .Banner-title {
    font-size: 1.4rem; }
    @media screen and (min-width: 1025px) {
      .Banner-title {
        font-size: 3rem; } }
  @media screen and (min-width: 1025px) {
    .Banner-content {
      font-size: 1.5rem;
      font-weight: 300; } }
  .Banner-button {
    font-size: .8rem; }
    @media screen and (min-width: 1025px) {
      .Banner-button {
        font-size: 1rem; } }

.button {
  display: inline-block;
  line-height: 2.5;
  padding: 0 1.2rem;
  margin: 1rem .5rem 0;
  color: #fff;
  cursor: pointer; }
  .button.primary {
    background-color: #514077; }
    .button.primary:hover {
      background-color: #503f75; }
  .button.secondary {
    background-color: #924992; }
    .button.secondary:hover {
      background-color: #904890; }
  .button.third {
    background-color: #FFAD01;
    color: #514077; }
    .button.third:hover {
      background-color: #fdac00; }

@media screen and (min-width: 768px) {
  .Services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.Services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #514077;
  height: 10rem;
  color: #fff; }
  @media screen and (min-width: 768px) {
    .Services-container {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; } }
  @media screen and (min-width: 1025px) {
    .Services-container {
      height: 15rem; } }
  .Services-container:nth-of-type(2) {
    background-color: #924992; }
  .Services-container:nth-of-type(3) {
    background-color: #FFAD01; }

.Staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (min-width: 480px) {
    .Staff {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .Staff-title {
    text-align: center;
    padding: 1rem 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .Staff-member {
    padding: 1rem;
    background-color: rgba(17, 17, 17, 0.1);
    text-align: center;
    margin-bottom: 1.5rem;
    border: thin solid rgba(81, 64, 119, 0.1); }
    @media screen and (min-width: 480px) {
      .Staff-member {
        width: calc(50% - .5rem);
        margin: 0 0 1rem; } }
    @media screen and (min-width: 1025px) {
      .Staff-member {
        width: calc(25% - .5rem); } }
  .Staff-image {
    width: 50%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 3px solid #514077; }
  .Staff-name {
    margin-top: 1rem; }
  .Staff-button {
    font-size: .8rem; }

.subtitle {
  border-bottom: thin solid rgba(17, 17, 17, 0.2); }

.l-container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.Contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 4rem; }
  @media screen and (min-width: 1025px) {
    .Contact {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; } }
  .Contact-title {
    margin-bottom: 1rem;
    font-size: 1.5rem; }
  .Contact-data {
    width: 100%;
    font-size: .85rem; }
    @media screen and (min-width: 1025px) {
      .Contact-data {
        margin-right: 1.5rem; } }
  .Contact-form {
    padding-top: .5rem; }
  .Contact-phone, .Contact-address {
    opacity: .8;
    color: #924992; }
    .Contact-phone::before, .Contact-address::before {
      margin-right: .3rem;
      position: relative;
      top: 2px; }
  .Contact-form-container {
    margin-top: 1rem;
    width: 100%; }
    .Contact-form-container input,
    .Contact-form-container textarea {
      width: 100%;
      line-height: 1.7;
      border: thin solid rgba(17, 17, 17, 0.25);
      margin-bottom: .8rem; }
    .Contact-form-container label {
      font-size: .8rem;
      opacity: .6; }
    .Contact-form-container [type="submit"] {
      width: auto;
      line-height: 3;
      text-transform: uppercase;
      cursor: pointer;
      margin-left: 0; }

.Footer {
  background-color: #514077;
  padding: 1.5rem 0;
  text-align: center; }

.social-icon {
  font-size: 1.4rem;
  color: white;
  display: inline-block;
  margin: 0 .3rem;
  opacity: .5; }
  .social-icon:hover {
    opacity: 1; }
