html {
    box-sizing: border-box;
    font-family: $fontText;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $fontTitle;
    text-transform: uppercase;
    font-weight: $normal;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

label,
input,
textarea {
    display: block;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}