.button {
    display: inline-block;
    line-height: 2.5;
    padding: 0 1.2rem;
    margin: 1rem .5rem 0;
    color: $white;
    cursor: pointer;
    &.primary {
        background-color: $color1;
        &:hover {
            background-color: darken($color1, .5);
        }
    }
    &.secondary {
        background-color: $color2;
        &:hover {
            background-color: darken($color2, .5);
        }
    }
    &.third {
        background-color: $color3;
        color: $color1;
        &:hover {
            background-color: darken($color3, .5);
        }
    }
}